{% extends "base.html" %}

{% block title %}Manual control{% endblock %}

{% block content %}
    <h3>Our Flask Buttons<h3/>
    <form method="POST">

        <div class="ManualControl">
            <button type="submit" name="buttonNW" id="buttonNW" value="NW" class="buttonNW"> &#8598;</button>
            <button type="submit" name="buttonN" id="buttonN" value="N" class="buttonN"> &#8593;</button>
            <button type="submit" name="buttonNE" id="buttonNE" value="NE" class="buttonNE"> &#8599;</button>
        </div>
        <div class="ManualControl">
            <button type="submit" name="buttonW" id="buttonW" value="W" class="buttonW"> &#8592;</button>
            <button type="submit" name="buttonRL" id="buttonRL" value="RL" class="buttonRL"> &#8630;</button>
            <button type="submit" name="buttonStop" id="buttonStop" value="Stop" class="buttonStop"> Stop</button>
            <button type="submit" name="buttonRR" id="buttonRR" value="RR" class="buttonRR"> &#8631;</button>
            <button type="submit" name="buttonE" id="buttonE" value="E" class="buttonE"> &#8594;</button>
        </div>
        <div class="ManualControl">
            <button type="submit" name="buttonSW" id="buttonSW" value="SW" class="buttonSW"> &#8601;</button>
            <button type="submit" name="buttonS" id="buttonS" value="S" class="buttonS"> &#8595;</button>
            <button type="submit" name="buttonSE" id="buttonSE" value="SE" class="buttonSE"> &#8600;</button>
        </div>

    </form>
    <style>
        .ManualControl{
            text-align: center;
        }

        .buttonS {
            color: Black;
            background-color:Cyan;
            width: 50px;
            padding: 3px;
            margin : 10px;
        }

        .buttonW {
            color: Black;
            background-color: Cyan;
            width: 50px;
            height: 50px;
            padding: 3px;
            margin : 10px;
        }

        .buttonE {
            color: Black;
            background-color: Cyan;
            width: 50px;
            height: 50px;
            padding: 3px;
            margin : 10px;
        }

        .buttonN {
            color: Black;
            background-color: Cyan;
            width: 50px;
            padding: 3px;
            margin : 10px;
        }

        .buttonSE {
            color: Black;
            background-color: Cyan;
            width: 50px;
            padding: 3px;
            margin : 10px;
            margin-left: 40px;
        }

        .buttonSW {
            color: Black;
            background-color: Cyan;
            width: 50px;
            padding: 3px;
            margin : 10px;
            margin-right: 40px;
        }

        .buttonNE {
            color: Black;
            background-color: Cyan;
            width: 50px;
            padding: 3px;
            margin : 10px;
            margin-left: 40px;
        }

        .buttonNW {
            color: Black;
            background-color: Cyan;
            width: 50px;
            padding: 3px;
            margin : 10px;
            margin-right: 40px;
        }

        .buttonRR {
            color: Black;
            background-color: Cyan;
            width: 50px;
            height: 50px;
            padding: 3px;
            margin : 10px;
        }

        .buttonRL {
            color: Black;
            background-color: Cyan;
            width: 50px;
            height: 50px;
            padding: 3px;
            margin : 10px;
        }

        .buttonStop {
            color: Black;
            background-color: Cyan;
            width: 80px;
            height: 50px;
            padding: 3px;
            margin : 10px;
        }
    </style>
{% endblock %}